<div class="row">
	<div class="col-2 mr-2">
		<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
			<a class="nav-link" [routerLink]="[ './brands' ]" routerLinkActive="active">Brands</a>
			<a class="nav-link" [routerLink]="[ './models' ]" routerLinkActive="active">Models</a>
			<a class="nav-link" [routerLink]="[ './categories' ]" routerLinkActive="active">Categories</a>
			<a class="nav-link" [routerLink]="[ './reviews' ]" routerLinkActive="active">Reviews</a>
			<a class="nav-link" [routerLink]="[ './users' ]" routerLinkActive="active">Users</a>
		</div>
	</div>
	<div class="col">
		<router-outlet></router-outlet>
	</div>
</div>