<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
	<div class="navbar-nav">
		<a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}">Home</a>
		<a class="nav-item nav-link" [routerLink]="[ '/admin/carBrands' ]" routerLinkActive="active" *ngIf="isAdmin">Car Brands (preview)</a>
		<a class="nav-item nav-link" (click)="logout()">Logout</a>
	</div>
</nav>

<div class="container-md">
	<alert></alert>
	<router-outlet></router-outlet>
</div>

<footer class="footer p-1" [ngClass]="{ 'bg-light': user }" *ngIf="user">
	<div class="container p-2">
		<p>
			<a class="text-muted" href="https://github.com/lupur/XML_FTN" target="_blank">GitHub</a>
		</p>
	</div>
</footer>