<h1>Add Car</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-row">
		<div class="form-group col">
			<label for="carCategory">Car category</label>
			<select formControlName="carCategory" class="form-control"
				[ngClass]="{'is-invalid': submitted && f.carCategory.errors}">
				<option value="">Choose car caregory</option>
				<option [ngValue]="carCategory.id" *ngFor="let carCategory of carCategories">{{carCategory.name}}
				</option>
			</select>
			<div *ngIf="submitted && f.carCategory.errors" class="invalid-feedback">
				<div *ngIf="f.carCategory.errors.required">Car category is required</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="carBrand">Brand</label>
			<select formControlName="carBrand" class='form-control' (ngModelChange)="onSelectedCarBrand($event)"
				[ngClass]="{'is-invalid': submitted && f.carBrand.errors}">
				<option value="">Choose car brand</option>
				<option *ngFor='let carBrand of carBrands' [ngValue]="carBrand">{{carBrand.name}}</option>
			</select>
			<div *ngIf="submitted && f.carBrand.errors" class="invalid-feedback">
				<div *ngIf="f.carBrand.errors.required">Car brand is required</div>
			</div>
		</div>
		<div class="form-group col" *ngIf="selectedCarBrand">
			<label for="carModel">Model</label>
			<select formControlName="carModel" class="form-control"
				[ngClass]="{'is-invalid': submitted && f.carModel.errors}">
				<option value="">Choose car model</option>
				<option *ngFor="let carModel of selectedCarBrand.carModels">{{carModel.name}}</option>
			</select>
			<div *ngIf="submitted && f.carModel.errors" class="invalid-feedback">
				<div *ngIf="f.carModel.errors.required">Car model is required</div>
			</div>
		</div>
	</div>
	<div class="form-row">

	</div>
	<div class="form-group">
		<button [disabled]="loading" class="btn btn-primary">
			<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
			Save
		</button>
		<a routerLink="/cars" class="btn btn-link">Cancel</a>
	</div>
</form>