<h1>Add Car Category</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-row">
		<div class="form-group col-sm-6">
			<label for="name">Name</label>
			<input type="text" formControlName="name" class="form-control"
				[ngClass]="{'is-invalid': submitted && f.name.errors}">
			<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
				<div *ngIf="f.name.errors.required">'Name' field is required</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<label for="rentalValue">Rental Value</label>
			<input type="text" formControlName="rentalValue" class="form-control"
				[ngClass]="{'is-invalid': submitted && f.rentalValue.errors}">
			<div *ngIf="submitted && f.rentalValue.errors" class="invalid-feedback">
				<div *ngIf="f.rentalValue.errors.required">'Rental Value' field is required</div>
				<div *ngIf="f.rentalValue.errors.min">Minimum 'Rental Value' is 200 euros</div>
				<div *ngIf="f.rentalValue.errors.max">Maximum 'Rental Value' is 2500 euros</div>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<button [disabled]="loading" class="btn btn-primary">
			<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
			Save
		</button>
		<a routerLink="../" class="btn btn-link">Cancel</a>
	</div>
</form>