<div class="mb-4">
	<button class="btn btn-link mb-4 px-0" (click)="gotoBrands()">Back</button>
	<h4 *ngIf="carBrand">{{carBrand.name}} models</h4>
</div>

<div class="container px-0">
	<div class="row">
		<div class="col-md-6 col-lg-4 col-xl-3 py-2" *ngFor="let carModel of carModels">
			<div class="card h-100" >
				<img class="card-img-top img-fluid" src="https://pngimg.com/uploads/audi/audi_PNG1757.png">
				<div class="card-block">
				</div>
				<div class="card-footer">
					{{carModel.name}}
				</div>
			</div>
		</div>
		
	</div>
</div>