<h1>Car Brands</h1>

<a class="btn btn-primary my-2" routerLink="./add" routerLinkActive="active">Add Car Brand</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Car Brand</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let carBrand of carBrands">
			<td>{{carBrand.name}}</td>
			<!-- <td>
				<a [routerLink]="['/details', carBrand.id]" routerLinkActive="active" >Browse Car Models</a>
			</td> -->
		</tr>
		<tr *ngIf="!carBrands">
			<td colspan="4" class="text-center">
				<span class="spinner-border spinner-border-lg align-center"></span>
			</td>
		</tr>
	</tbody>
</table>
