<div class="mb-4">
	<a class="btn btn-outline-primary" [routerLink]="[ './add' ]" routerLinkActive="active">Add Car Model</a>
</div>

<table class="table table-hover table-responsive-sm" *ngIf="carModels">
	<thead>
		<tr>
			<th>Model</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let carModel of carModels">
			<td>
				{{carModel.name}}
			</td>
			<td align="right">
				<button (click)="delete(carModel.name)" class="btn btn-sm btn-outline-secondary"
					[disabled]="carModel.isDeleting">
					<span *ngIf="carModel.isDeleting" class="spinner-border spinner-border-sm"></span>
					<span *ngIf="!carModel.isDeleting">Delete</span>
				</button>
			</td>
		</tr>
		<tr *ngIf="!carModels">
			<td colspan="100%" class="text-center">
				<span class="spinner-border spinner-border-lg align-center"></span>
			</td>
		</tr>
	</tbody>
</table>