<h1>Add Demo Car Brand</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-row">
		<div class="form-group col-sm-6">
			<label for="name">Demo Brand Name</label>
			<input type="text" formControlName="name" class="form-control"
				[ngClass]="{'is-invalid': submitted && f.name.errors}">
			<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
				<div *ngIf="f.name.errors.required">Demo Brand Name is required</div>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<button [disabled]="loading" class="btn btn-primary">
			<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
			Save
		</button>
		<a routerLink="/demo" class="btn btn-link">Cancel</a>
	</div>
</form>