<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link" [routerLink]="[ '/admin/dashboard' ]" routerLinkActive="active">Administration</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin || isAgent">
            <a class="nav-link" [routerLink]="[ '/rentals' ]" routerLinkActive="active">Rentals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/cars' ]" routerLinkActive="active">Cars</a>
        </li>
    </ul>

    <span class="navbar-text mx-4">
        <span class="badge badge-danger" *ngIf="isAdmin">Admin</span>
    </span>

    <div class="navbar-text">
        <a class="btn btn-primary" (click)="logout()">Logout</a>
    </div>
</nav>

<div class="container-fluid row">
    <div class="col-md-8 offset-md-2 mt-4">
        <router-outlet></router-outlet>
    </div>
    <alert class="col-md-2"></alert>
</div>

<footer class="footer mt-auto py-2" [ngClass]="{'bg-dark': currentUser}">
    <div class="container">
        <span>
            <a href="https://github.com/lupur/XML_FTN" class="nav-link text-light" target="_blank">GitHub</a>
        </span>
    </div>
</footer>